<app-layout>
</app-layout>

<!-- <input type="button" (click)="xxxx()" value="salam" title="hi" />
<lib-mat-cupple-datepicker
  [(CupleDate)]="CupleDate"
></lib-mat-cupple-datepicker>

<div>dddddddddddddddddddddddddddd</div>
<p>
  <lib-mat-autocomplete
    [dataList]="options"
    [(selectedoption)]="selectedoption"
  ></lib-mat-autocomplete>
</p>
<p>inparent:{{ selectedoption }}</p>

<p>price is : <lib-mat-price-input [(price)]="price"></lib-mat-price-input></p>
<app-transport-stuff-type></app-transport-stuff-type> -->
