<div class="row p-t-25">
  <div class="col-lg-12">
    <app-card cardTitle="3 Columns Form Layout">
      <form
        [formGroup]="stuffTypeForm"
        (ngSubmit)="insUpAddress()"
        class="editForm"
        novalidate
      >
        <div class="row">
          <div class="col-md-6">
            <label for="chName">chName</label>
            <mat-form-field appearance="outline" class="w-100 m-t-5">
              <input
                matInput
                type="text"
                name="chName"
                placeholder="Enter name"
                [ngClass]="{
                  'is-invalid':
                    !chName?.valid &&
                    (chName?.dirty || chName?.touched || isSubmit)
                }"
                required
                formControlName="chName"
              />
              @if (
                !chName?.valid && (chName?.dirty || chName?.touched || isSubmit)
              ) {
                <mat-hint
                  id="validation-password-error"
                  class="text-warn-500 jquery-validation-error small form-text invalid-feedback"
                >
                  Please Enter a Valid Password.
                </mat-hint>
              }
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <label for="chEnName">chEnName</label>
            <mat-form-field appearance="outline" class="w-100 m-t-5">
              <input
                matInput
                id="chEnName"
                type="text"
                placeholder="Enter chEnName"
                [ngClass]="{
                  'is-invalid':
                    !chEnName?.valid &&
                    (chEnName?.dirty || chEnName?.touched || isSubmit)
                }"
                formControlName="chEnName"
              />
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <label for="chCMRCode">chCMRCode</label>
            <mat-form-field appearance="outline" class="w-100 m-t-5">
              <input
                matInput
                type="text"
                name="chCMRCode"
                placeholder="Enter chCMRCode"
                formControlName="chCMRCode"
              />
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <label for="chComment">chComment</label>
            <mat-form-field appearance="outline" class="w-100 m-t-5">
              <input
                matInput
                type="text"
                name="chComment"
                placeholder="Enter chComment"
                formControlName="chComment"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="text-center">
          <button
            type="submit"
            [disabled]="!stuffTypeForm.valid"
            uiSref="work"
            mat-flat-button
            color="primary"
          >
            <div class="flex align-item-center">
              Submit
              <span class="m-l-5"><i class="ti ti-chevron-right"></i></span>
            </div>
          </button>

          <button
            type="button"
            mat-flat-button
            color="dangar"
            (click)="cancel()"
          >
            <div class="flex align-item-center">
              cancel
              <span class="m-l-5"><i class="ti ti-chevron-right"></i></span>
            </div>
          </button>
        </div>
      </form>
    </app-card>
  </div>

  <div class="col-lh-12">
    <lib-mat-datatable
      [displayedColumns]="displayedColumns"
      [dataSource]="dataSource"
      (getSelecterRow)="getSelectedItem($event)"
    >
    </lib-mat-datatable>

    <button mat-raised-button (click)="addData()">Add data</button>
    <button mat-raised-button (click)="clearTable()">clear data</button>
  </div>
</div>
